//- model, data
-
    var header ='#experience'
    var experienceList =    [
        {
            title: 'm',
            data: 'the date',
            company: 'the company',
            responsabilityList: [   
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        }

    ];
//- view, presentation
#experience
.experience
    .experience__header= header
