-
    var myFullName = 'Ancuta Hantari'
    var myJobTitle = 'starter in web development'
#landing-page
.landing-page
    .landing-page__wrapper
        h2.landing-page__name=myFullName
        h1.landing-page__title=myJobTitle
        ul.landing-page__social
    