extends _component/layout/page

block config
    -
        var myTitleForGoogleSearch = 'My ultra cool CV';
        var myDescriptionForGoogleSearch = 'Using pure HTML5 and CSS3 techniques';

block content
    h1 this is it