extends _component/layout/page

block cool-config
    -
        var myTitleForGoogleSearch = 'My ultra cool CV';
        var myDescriptionForGoogleSearch = 'Using pure HTML5 and CSS3 techniques';

block awesome-content
    h1 Ancuta Hantari